/*
  Menu button effect on very small devices
  does not display correctly and must therefore be
  a simple switch.
*/

.menu-transform-body {
  display: none;
}

@media (min-width: 576px){
  .menu-transform-body {
    display: grid;
    transform: scale(.6) translateX(40%) rotate(20deg);
  }

  .menu-transform-body::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.2);
    pointer-events: none;
  }
}
