:root {
  font-family: 'Rubik', sans-serif;
  --pinnedHeight: 3rem;
  --primaryColor: rgb(25,118,210);
  --primaryColorDarker: rgb(0,75,160);
  --primaryColorLighter: #eee;
  --secondaryColor: rgb(244,67,54);
  --secondaryColorDarker: rgb(186,0,13);
  --secondaryColorLighter: rgb(255,121,97);
  --fontSize: 16px;
  --xSmallFont: 0.65em;
  --smallFont: 0.8333em;
  --normalFont: 1em;
  --largeFont: 1.125em;
  --xLargeFont: 1.5em;
  --xxLargeFont: 2em;
  --titleFont: 6em;
}

body {
  display: grid;
  grid:
  "header header header" 2rem
  ". main ." 1fr/ 1rem 1fr 1rem;
  max-width: 100vw;
  text-decoration: none;
  color: #333;
  margin: 0;
  padding: 0;
  font-size: var(--fontSize);
  overflow: hidden;
  background-color: var(--primaryColorLighter);
}

nav {
  top: 0;
  position: fixed;
  height: var(--pinnedHeight);
  z-index: 2;
  grid-area: header;
}

.mobile__list {
  text-decoration: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100%;
  width: 100%;
  z-index: 1;
  list-style-type: none;
  position: fixed;
  height: inherit;
  place-items: center;
  margin: 0;
  padding: 0;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.1),  0 -0.25rem 0.25rem rgba(0, 0, 0, 0.15);
  left: 0;
  right: 0;
  background-color: #f1f1f1;
}

.mobile__list > ul {
  height: 2rem;
  z-index: 1;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.15);
}

.list-item {
  place-self: center;
  width: 100%;
  position: relative;
  display: grid;
  place-content: center;
  height: 100%;
}

main {
  grid-area: main;
  display: grid;
  grid: ". content ." 1fr / 1rem 1fr 1rem;
  background-color: var(--primaryColorLighter);
  padding: calc(var(--pinnedHeight) * 1.25) 0.5rem;
  column-gap: 0.5rem;
  min-height: calc(100vh - var(--pinnedHeight));
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

features {
  grid-area: content;
  display: grid;
  grid-template-rows: repeat(auto-fill,minmax(10rem, 200px));
  grid-template-columns: 1fr;
  place-items: center;
  width: 100%;
}

  card {
    position: relative;
    height: min-content;
    display: grid;
    grid-template:
      "title" 2rem
      "caption" 6rem / 1fr;
    max-width: 300px;
    row-gap: 0.5rem;
    place-content: center;
    border: 1px solid transparent;
    border-radius: 5px;
    z-index: 1;
    text-align: center;
    overflow:hidden;
  }

    .card__header {
      font-size: var(--xxLargeFont);
      grid-area: title;
      font-family: 'Gentium Basic', serif;
      color: rgba(255, 255, 255, 1);
      opacity: 1;
      width: 100%;
      height: 1em;
      place-content: start;
    }

    .card__img {
      object-fit: cover;
      border: 1px solid transparent;
      border-radius: 5px;
      width: 100%;
      height: 100%;
      position: relative;
      grid-column: title-start / caption-end;
      grid-row: title-start / caption-end;
      z-index: -1;
      opacity: 0.85;
    }
    .card__text {
      background-color: rgba(255, 255,255, 0);
      grid-area: caption;
      font-family: 'Rubik', sans-serif;
      max-width: 20em;
      height: 100%;
      width: 100%;
      padding-top: 1rem;
      opacity: 0;
      transition: opacity 250ms ease-in, background-color 300ms ease-out;
    }
      card:hover > .card__text {
        background-color: rgba(255, 255,255, 1);
        color: rgba(0, 0, 0, 1);
        opacity: 1;
        transition: opacity 250ms ease-out, background-color 300ms ease-out;
      }

i {
  font-size: 2em;
  display: relative;
  color: var(--secondaryColorDarker);
}

footer {
  grid-area: footer;
  position: fixed;
  z-index: 1;
  bottom: 0;
  height: var(--pinnedHeight);
  width: 100%;
  backface-visibility: hidden;
  display: none;
}

.company-color {
  color: rgba(255, 57, 57, 0.897)
}
